<div class="container">
    <h1>Sududo Solver Game</h1>
    <div class="gameArea">
        <ng-container *ngFor="let row of initialSudoku">
            <div class="row">
                <ng-container *ngFor="let col of row">
                    <div class="cell">
                        <span *ngIf="col != '.'; else elseBlock">
                            {{col}}
                        </span>
                        <ng-template #elseBlock><input class="inputCell"/></ng-template>
                    </div>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>